<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Film Register</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Film Register</h1>
    <form method="post" action="/movies">
        <label for="name">Name:</label>
        <input id="name" name="name">
        <br>
        <label for="duration">Duration (in min):</label>
        <input id="duration" name="duration">
        <br>
        <label for="year">Year:</label>
        <input id="year" name="year">
        <br>
        <label for="genre">Genre:</label>
        <input id="genre" name="genre">
        <br>
        <input type="submit" value="Register">

    </form>
</div>
</body>
</html>