<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
    <title>Film Listing</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Film Listing</h1>
    <a href="/movies/form">New</a>

    <table>
        <thead>
        <tr>
            <th>NAME</th>
            <th>DURATION</th>
            <th>YEAR</th>
            <th>GENRE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${list}">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.duration}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.genre}"></td>
            <td>
                <form action="/movies" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>