<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film Listing</title>
</head>
<body>

<h1>Film Listing</h1>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>DURATION</th>
        <th>YEAR</th>
        <th>GENRE</th>
    </tr>
    </thead>
    <tbody>
<tr th:each="movie : ${list}">
    <td th:text="${movie.name}"></td>
    <td th:text="${movie.duration}"></td>
    <td th:text="${movie.year}"></td>
    <td th:text="${movie.genre}"></td>
</tr>
    </tbody>
</table>

</body>
</html>